<html>
    <head>

    </head>
    <body>
        <h1>
            Student
        </h1>
        <br>
        {%if students%}
        <table>
            <thead>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Salary</th>
                <th>Email</th>
            </thead>
            {% for st in students %}
            <tr>
                <td>{{st.firstname}}</td>
                <td>{{st.lastname}}</td>
                <td>{{st.salary}}</td>
                <td>{{st.email}}</td>
            </tr>
            {%  endfor  %}
        </table>
        {% else %}
        <p>there is no students in this index</p>
        {% endif %}
    </body>
</html>