<!DOCTYPE html>
<html>
<head>
    <title>Students List</title>
</head>
<body>
    {% if object_list %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for student in object_list %}
                <tr>
                    <td><a href="/update/{{ student.id }}">{{ student.id }}</a></td>
                    <td>{{ student.firstname }}</td>
                    <td>{{ student.lastname }}</td>
                    <td>{{ student.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>The student is not here yet!</h2>
    {% endif %}
</body>
</html>
