<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
<body>

    <h1>Update Student</h1>
    
    <form method="POST">
        {% csrf_token %}
        <input name = 'firstname' value="{{students.firstname}}">
        <input name = 'lastname' value="{{students.lastname}}">
        <input name = 'numeric' value="{{students.numeric}}">
        
        <button type="submit">ثبت</button>
    </form>

</body>
</html>